<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport">
</head>

<body>

<header>

  <nav>

  </nav>
<div class="container max-width">

  <form>
    <div class="row">
      <div class="col-12">
      <div class="form-group">
        <label for="nome" style="color: white">Nome Completo</label>
        <input type="name" class="form-control" id="nome" aria-describedby="nameHelp" placeholder="Nome">
      </div>
    </div>

      <div class="col-6">
      <div class="form-group">
        <label for="cpf" style="color: white">CPF</label>
        <input type="text" class="form-control" id="cpf" aria-describedby="cpfHelp" placeholder="CPF">
      </div>
      </div>

      <div class="col-6">
      <label for="curso" style="color: white"> Curso </label>
      <select class="form-control" id="curso">
        <option selected>Curso</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      </div>

      <div class="col-6">
      <div class="form-group">
        <label for="email" style="color: white">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Endereço de email">
      </div>
      </div>

      <div class="col-6">
      <div class="form-group">
        <label for="phone" style="color: white">Telefone</label>
        <input type="tel" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Telefone">
      </div>
      </div>

      <div class="col-12">
      <button type="submit" class="btn btn-light">Enviar</button>
    </div>
    </div>
  </form>

</div>
</header>

<section>

</section>

<footer>

</footer>

</body>
</html>
